#! /bin/bash

conda_source=". /local/env/envconda3.sh"
singularity_source=". /local/env/envsingularity-3.8.5.sh"
sif_dp="rmarkdown.sif"
conda_dp="/scratch/mmilin/WGD_Tracker/dependencies_conda_env/"
data_dir="/scratch/mmilin/example/intra_Smaritimus"
tool_dir="/scratch/mmilin/WGD_Tracker"

Nb_CPU=10
intragenomic="True"
SP1="Smaritimus_cds"
SP2="Smaritimus_cds"

######## 
# RBBH # 
######## 

coding="False"
TErm="True" 
TErm_type="double"
SP1_TErm="['Smaritimus','gene',0]"
BH_limit="4"

############
# Dot plot #
############

control_file="control_file_Smaritimus_cds.txt"
dotplot_data="Synteny"
out="Synteny_dotplot"
dotplot_name_corr="['Smar_scaf_', 'Smar_scaf_']"

###########
# Synteny #
###########

sp1_motif="gene"
sp2_motif="gene"
gap="25"
gene_nb="5"
