#! /bin/bash

data_dir="./Osativa_example"
tool_dir="./WGD_Tracker"
Nb_CPU=2

intragenomic="True"
SP1="Osativa_cds"
SP2="Osativa_cds"

######## 
# RBBH # 
######## 

identity=70
len_align=60
corr_intra="['.', -1]"
coding="False"
TErm="True"
TErm_type="double"
SP1_TErm="['Osativa','mRNA',25]"
SP2_TErm="['Osativa','mRNA',25]"
BH_limit=10

##################
# Ks Calculation #
##################

Ks_begin="fasta_Extract"
Ks_folder_limit=10000
Ks_file_limit=250
mxt_ksmin=0.01
mxt_ksmax=3
mxt_kmin=2
mxt_kmax=4
mxt_boots=1000
mxt_epsilon=1e-3
mxt_breaks=300

###########
# Synteny #
###########

sp1_motif="mRNA"
sp2_motif="mRNA"
gap=100
gene_nb=5
Ks_min=0.01
Ks_max=3

###########
# Dotplot #
###########

dotplot_name_corr="['Chr','Chr']"
control_file="Osativa_example_control_file.txt"
dotplot_data="Synteny"
out="Synteny"
